body {
  background-color: #EBF3FE;
  font-family: 'Space Grotesk', sans-serif;
}

.card {
  border: none;
  border-radius: 24px;
  box-shadow: 0 4px 24px rgba(222, 198, 198, 0.06);
}

.heading {
  font-family: 'Clash Display', sans-serif;
  font-weight: 600;
  font-size: 49px;
  color: #000000;
  line-height: 1.5;
}

.subtext {
  font-size: 16px;
  font-weight: 400;
  color: #5E6470;
  line-height: 1.5;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 14px;
  font-size: 14px;
  color: #888A8B;
}

.field-input {
  background-color: #E2E4E5;
  border: none;
  border-radius: 8px;
  padding: 13px 40px 13px 36px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
  color: #888A8B;
  outline: none;
}

.field-input::placeholder {
  color: #888A8B;
}

.field-input:focus {
  outline: 1.5px solid #3B82F6;
}

/* ── EYE BUTTON ── */
.eye-btn {
  position: absolute;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #888A8B;
  padding: 0;
}

.otp-input {
  width: 72px;
  height: 72px;
  background-color: #E2E4E5;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  outline: none;
}

.otp-input:focus {
  outline: 2px solid #3B82F6;
  background-color: #F8FAFC;
}

.rules {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 13px;
  color: #5E6470;
  line-height: 1.5;
}

.submit-btn {
  width: 100%;
  border: none;
  background: #3B82F6;
  color: #F8FAFC;
  padding: 15px;
  border-radius: 30px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s;
}

.submit-btn:hover {
  background: #2563EB;
}

@media (max-width: 576px) {
  .heading {
    font-size: 31px;
  }

  .otp-input {
    width: 56px;
    height: 56px;
    font-size: 20px;
  }
}

